<div class="testbaselinelistfinal-161-6623" name="test@Base line list Final">
 <div class="group-161-6624" name="Group">
  <div class="group-161-6625" name="Group">
  </div>
  <label class="text-161-6626" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-161-6627" name="Group">
  <div class="group-161-6628" name="Group">
  </div>
  <div class="group-161-6629" name="Group">
   <div class="group-161-6630" name="Group">
   </div>
   <img class="vector-161-6631" src="assets/images/test/base-line-list-final/vector-161_6631.svg"/>
   <div class="group-161-6632" name="Group">
   </div>
   <div class="group-161-6633" name="Group">
    <div class="group-161-6634" name="Group">
    </div>
    <img class="vector-161-6635" src="assets/images/test/base-line-list-final/vector-161_6635.svg"/>
    <img class="vector-161-6636" src="assets/images/test/base-line-list-final/vector-161_6636.svg"/>
    <div class="group-161-6647" name="Group">
     <img class="vector-161-6648" src="assets/images/test/base-line-list-final/vector-161_6648.svg"/>
    </div>
   </div>
   <div class="group-161-6659" name="Group">
    <img class="img-161-6660" src="assets/images/test/base-line-list-final/img-161_6660.png"/>
    <img class="img-161-6661" src="assets/images/test/base-line-list-final/img-161_6661.png"/>
    <img class="img-161-6662" src="assets/images/test/base-line-list-final/img-161_6662.png"/>
    <button class="btn-161-6663" type="button">
     +3
    </button>
   </div>
   <div class="group-161-6667" name="Group">
    <div class="group-161-6668" name="Group">
    </div>
    <div class="group-161-6669" name="Group">
     <img class="vector-161-6670" src="assets/images/test/base-line-list-final/vector-161_6670.svg"/>
     <img class="vector-161-6672" src="assets/images/test/base-line-list-final/vector-161_6672.svg"/>
     <input class="checkbox-161-6676" type="checkbox"/>
    </div>
   </div>
   <div class="group-161-6678" name="Group">
    <div class="group-161-6679" name="Group">
     <div class="group-161-6680" name="Group">
     </div>
     <img class="vector-161-6681" src="assets/images/test/base-line-list-final/vector-161_6681.svg"/>
     <label class="text-161-6683" type="text" value="921409198-87861">
      921409198-87861
     </label>
     <label class="text-161-6684" type="text" value="Base Line ID">
      Base Line ID
     </label>
    </div>
    <div class="group-161-6685" name="Group">
     <div class="group-161-6686" name="Group">
     </div>
     <img class="vector-161-6687" src="assets/images/test/base-line-list-final/vector-161_6687.svg"/>
     <label class="text-161-6689" type="text" value="Emergency Room">
      Emergency Room
     </label>
     <label class="text-161-6690" type="text" value="Dept: Type">
      Dept: Type
     </label>
    </div>
    <div class="group-161-6691" name="Group">
     <div class="group-161-6692" name="Group">
     </div>
     <img class="vector-161-6693" src="assets/images/test/base-line-list-final/vector-161_6693.svg"/>
     <label class="text-161-6695" type="text" value="Site1_ED">
      Site1_ED
     </label>
     <label class="text-161-6696" type="text" value="Dept: Group">
      Dept: Group
     </label>
    </div>
    <div class="group-161-6697" name="Group">
     <div class="group-161-6698" name="Group">
     </div>
     <img class="vector-161-6699" src="assets/images/test/base-line-list-final/vector-161_6699.svg"/>
     <label class="text-161-6701" type="text" value="Registered Nurses">
      Registered Nurses
     </label>
     <label class="text-161-6702" type="text" value="Resource Group">
      Resource Group
     </label>
    </div>
    <div class="group-161-6703" name="Group">
     <div class="group-161-6704" name="Group">
     </div>
     <img class="vector-161-6705" src="assets/images/test/base-line-list-final/vector-161_6705.svg"/>
     <label class="text-161-6707" type="text" value="March 01,2023  10:33 AM">
      March 01,2023  10:33 AM
     </label>
     <label class="text-161-6708" type="text" value="Created On">
      Created On
     </label>
    </div>
    <div class="group-161-6709" name="Group">
     <button class="btn-161-6710" type="button">
      <img class="vector-161-6712" src="assets/images/test/base-line-list-final/vector-161_6712.svg"/>
     </button>
     <button class="btn-161-6716" type="button">
      <img class="vector-161-6718" src="assets/images/test/base-line-list-final/vector-161_6718.svg"/>
     </button>
    </div>
   </div>
   <div class="group-161-6722" name="Group">
    <select class="dropdown-161-6723">
     <option selected="" value="">
      Link To
     </option>
    </select>
   </div>
   <div class="group-161-6730" name="Group">
    <div class="group-161-6731" name="Group">
     <div class="group-161-6732" name="Group">
      <div class="group-161-6733" name="Group">
      </div>
      <img class="vector-161-6734" src="assets/images/test/base-line-list-final/vector-161_6734.svg"/>
      <label class="text-161-6736" type="text" value="Description">
       Description
      </label>
     </div>
     <label class="text-161-6737" type="text" value="The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.">
      The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.
     </label>
    </div>
    <label class="text-161-6738" type="text" value="*The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.">
     *The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.
    </label>
   </div>
   <div class="group-161-6739" name="Group">
    <button class="btn-161-6740" type="button">
     <img class="vector-161-6742" src="assets/images/test/base-line-list-final/vector-161_6742.svg"/>
    </button>
    <button class="btn-161-6745" type="button">
     <img class="vector-161-6747" src="assets/images/test/base-line-list-final/vector-161_6747.svg"/>
    </button>
    <button class="btn-161-6750" type="button">
     <img class="vector-161-6752" src="assets/images/test/base-line-list-final/vector-161_6752.svg"/>
    </button>
    <button class="btn-161-6759" type="button">
     <img class="vector-161-6761" src="assets/images/test/base-line-list-final/vector-161_6761.svg"/>
    </button>
    <button class="btn-161-6765" type="button">
     <img class="vector-161-6767" src="assets/images/test/base-line-list-final/vector-161_6767.svg"/>
    </button>
    <button class="btn-161-6771" type="button">
     <img class="vector-161-6773" src="assets/images/test/base-line-list-final/vector-161_6773.svg"/>
    </button>
   </div>
   <div class="group-161-6775" name="Group">
    <img class="vector-161-6776" src="assets/images/test/base-line-list-final/vector-161_6776.svg"/>
    <label class="text-161-6790" type="text" value="Base Line Name ABCD">
     Base Line Name ABCD
    </label>
   </div>
   <img class="vector-161-6791" src="assets/images/test/base-line-list-final/vector-161_6791.svg"/>
   <div class="group-161-6792" name="Group">
    <div class="group-161-6793" name="Group">
    </div>
    <img class="vector-161-6794" src="assets/images/test/base-line-list-final/vector-161_6794.svg"/>
    <label class="text-161-6802" type="text" value="Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
">
     Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
    </label>
    <button class="btn-161-6803" type="button">
     <img class="vector-161-6805" src="assets/images/test/base-line-list-final/vector-161_6805.svg"/>
    </button>
   </div>
   <label class="text-161-6807" type="text" value="Collaborators">
    Collaborators
   </label>
  </div>
 </div>
 <div class="group-161-6808" name="Group">
  <div class="group-161-6809" name="Group">
  </div>
  <div class="group-161-6810" name="Group">
   <img class="vector-161-6811" src="assets/images/test/base-line-list-final/vector-161_6811.svg"/>
   <label class="text-161-6816" type="text" value="Base Lines">
    Base Lines
   </label>
  </div>
  <button class="btn-161-6817" type="button">
   <img class="vector-161-6819" src="assets/images/test/base-line-list-final/vector-161_6819.svg"/>
  </button>
  <button class="btn-161-6823" type="button">
   <img class="vector-161-6825" src="assets/images/test/base-line-list-final/vector-161_6825.svg"/>
  </button>
 </div>
 <div class="group-161-6827" name="Group">
  <div class="group-161-6828" name="Group">
  </div>
  <label class="text-161-6829" type="text" value="Base line List">
   Base line List
  </label>
  <label class="text-161-6830" type="text" value="The main list of the ‘Base Lines’ section">
   The main list of the ‘Base Lines’ section
  </label>
  <img class="vector-161-6831" src="assets/images/test/base-line-list-final/vector-161_6831.svg"/>
  <div class="group-161-6832" name="Group">
   <button class="btn-161-6833" type="button">
    <img class="vector-161-6836" src="assets/images/test/base-line-list-final/vector-161_6836.svg"/>
    Create Base line
   </button>
  </div>
 </div>
 <div class="group-161-6838" name="Group">
  <div class="group-161-6839" name="Group">
  </div>
  <img class="vector-161-6840" src="assets/images/test/base-line-list-final/vector-161_6840.svg"/>
  <img class="vector-161-6843" src="assets/images/test/base-line-list-final/vector-161_6843.svg"/>
  <img class="vector-161-6868" src="assets/images/test/base-line-list-final/vector-161_6868.svg"/>
  <img class="vector-161-6869" src="assets/images/test/base-line-list-final/vector-161_6869.svg"/>
  <button class="btn-161-6873" type="button">
   <img class="vector-161-6876" src="assets/images/test/base-line-list-final/vector-161_6876.svg"/>
   back to dashboard
  </button>
 </div>
</div>
