

.testbaselinelistfinal-161-6623{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-161-6624{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(0,0,0,0.0);top:1079px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-161-6625{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;box-shadow: 0.0px -1.0px 5.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.text-161-6626{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 241.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-161-6627{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-161-6628{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-161-6629{
position:absolute ;width: 1353.0px; height: 147.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 9px;background:''}

.group-161-6630{
position:absolute ;width: 1353.0px; height: 147.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-161-6631{
position: absolute;left: 1080.0px; top: 91.5px; width: 273.0px; height: 1.0}

.group-161-6632{
position:absolute ;width: 542.0px; height: 147.0px;  background-color: rgba(250,250,250,1.0);top:0px; left: 514px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-161-6633{
position:absolute ;width: 400.0px; height: 55.0px;  background-color: rgba(0,0,0,0.0);top:92px; left: 656px;background:''}

.group-161-6634{
position:absolute ;width: 400.0px; height: 55.0px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-161-6635{
position: absolute;left: 198.5px; top: 0.0px; width: 1.0px; height: 55.0}

.vector-161-6636{
position: absolute;left: 32.0px; top: 17.0px; width: 127.0px; height: 22.0}

.group-161-6647{
position:absolute ;width: 127.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:17px; left: 236px;background:''}

.vector-161-6648{
position: absolute;left: 0.0px; top: 0.0px; width: 127.0px; height: 22.0}

.group-161-6659{
position:absolute ;width: 107.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 1224px;background:''}

.img-161-6660{
position: absolute;left: 0.0px; top: 0.0px; width: 22.0px; height: 22.0px;}

.img-161-6661{
position: absolute;left: 16.0px; top: 0.0px; width: 21.0px; height: 22.0px;}

.img-161-6662{
position: absolute;left: 31.0px; top: 0.0px; width: 22.0px; height: 22.0px;}

.btn-161-6663{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 56.0px;
 top: 0.0px;
 width: 51.0px;
 height: 21.0px;
border-radius: 4.0px; background-color: rgba(250, 250, 250, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}

.group-161-6667{
position:absolute ;width: 41.0px; height: 147.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-161-6668{
position:absolute ;width: 41.0px; height: 147.0px;  background-color: rgba(236,239,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-161-6669{
position:absolute ;width: 24.0px; height: 113.0px;  background-color: rgba(0,0,0,0.0);top:17px; left: 9px;background:''}

.vector-161-6670{
position: absolute;left: 2.0px; top: 43.0px; width: 20.0px; height: 20.0}

.vector-161-6672{
position: absolute;left: 0.0px; top: 91.0px; width: 24.0px; height: 22.0}

.checkbox-161-6676{
position: absolute;left: 5.0px; top: 0.0px; width: 15.0px; height: 15.0px;}

.group-161-6678{
position:absolute ;width: 412.9996643066406px; height: 67.363525390625px;  background-color: rgba(0,0,0,0.0);top:54px; left: 61px;background:''}

.group-161-6679{
position:absolute ;width: 200.48544311523438px; height: 17.642822265625px;  background-color: rgba(0,0,0,0.0);top:24px; left: 0px;background:''}

.group-161-6680{
position:absolute ;width: 84.20388793945312px; height: 17.642822265625px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-161-6681{
position: absolute;left: 3.207763671875px; top: 4.06787109375px; width: 10.42523193359375px; height: 10.42529296875}

.text-161-6683{
position: absolute;
left: 91.4208984375px;
 top: 6.474365234375px;
 width: 76.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-161-6684{
position: absolute;
left: 19.2470703125px;
 top: 6.474365234375px;
 width: 54.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-161-6685{
position:absolute ;width: 202.89126586914062px; height: 17.642822265625px;  background-color: rgba(0,0,0,0.0);top:24px; left: 211px;background:''}

.group-161-6686{
position:absolute ;width: 75.38252258300781px; height: 17.642822265625px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-161-6687{
position: absolute;left: 2.31640625px; top: 4.068359375px; width: 10.425247192382812px; height: 10.42529296875}

.text-161-6689{
position: absolute;
left: 84.1142578125px;
 top: 6.4736328125px;
 width: 81.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-161-6690{
position: absolute;
left: 18.3544921875px;
 top: 6.474609375px;
 width: 48.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-161-6691{
position:absolute ;width: 200.48544311523438px; height: 17.642822265625px;  background-color: rgba(0,0,0,0.0);top:49px; left: 0px;background:''}

.group-161-6692{
position:absolute ;width: 84.20388793945312px; height: 17.642822265625px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-161-6693{
position: absolute;left: 3.207763671875px; top: 3.928466796875px; width: 10.42523193359375px; height: 10.42529296875}

.text-161-6695{
position: absolute;
left: 91.4208984375px;
 top: 6.333984375px;
 width: 39.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-161-6696{
position: absolute;
left: 19.2470703125px;
 top: 6.333984375px;
 width: 54.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-161-6697{
position:absolute ;width: 202.89126586914062px; height: 17.642822265625px;  background-color: rgba(0,0,0,0.0);top:49px; left: 211px;background:''}

.group-161-6698{
position:absolute ;width: 93.02523803710938px; height: 17.642822265625px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-161-6699{
position: absolute;left: 2.31640625px; top: 3.9287109375px; width: 10.425247192382812px; height: 10.42529296875}

.text-161-6701{
position: absolute;
left: 104.1630859375px;
 top: 6.333984375px;
 width: 83.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-161-6702{
position: absolute;
left: 18.3544921875px;
 top: 6.333984375px;
 width: 70.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-161-6703{
position:absolute ;width: 200.48544311523438px; height: 17.642822265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-161-6704{
position:absolute ;width: 84.20388793945312px; height: 17.642822265625px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-161-6705{
position: absolute;left: 4.00970458984375px; top: 3.207763671875px; width: 9.623291015625px; height: 9.623291015625}

.text-161-6707{
position: absolute;
left: 91.4208984375px;
 top: 5.61328125px;
 width: 110.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-161-6708{
position: absolute;
left: 19.2470703125px;
 top: 5.61328125px;
 width: 51.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-161-6709{
position:absolute ;width: 202.89126586914062px; height: 17.642822265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 211px;background:''}

.vector-161-6712{
position: relative; width: 7.0px; height: 9.800048828125}

.btn-161-6710{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.8916015625px;
 top: 0.0px;
 width: 53.0px;
 height: 17.800048828125px;
border-radius: 3.2077670097351074px; background-color: rgba(203, 203, 203, 0.10000000149011612);
 cursor: pointer;

}

.vector-161-6718{
position: relative; width: 12.831069946289062px; height: 12.8310546875}

.btn-161-6716{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 71.28312683105469px;
 top: 0.0px;
 width: 77.27572631835938px;
 height: 17.642822265625px;
border-radius: 1.6038835048675537px; background-color: rgba(179, 235, 203, 1.0);
 cursor: pointer;

}

.group-161-6722{
position:absolute ;width: 100.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:109px; left: 533px;background:''}

.dropdown-161-6723{
position: absolute;left: 0.0px; top: 0.0px;background-color: rgba(219, 222, 235, 1.0);; width: 100.0px; height: 22.0px;
font-size: 9.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-161-6730{
position:absolute ;width: 508.0px; height: 63.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 533px;background:''}

.group-161-6731{
position:absolute ;width: 508.0px; height: 63.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-161-6732{
position:absolute ;width: 78.0px; height: 18.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-161-6733{
position:absolute ;width: 78.0px; height: 18.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-161-6734{
position: absolute;left: 5.0px; top: 4.0px; width: 11.0px; height: 11.0}

.text-161-6736{
position: absolute;
left: 19.35546875px;
 top: 5.61328125px;
 width: 50.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-161-6737{
position: absolute;
left: 0.0px;
 top: 37.0px;
 width: 508.0px;
 height: 26.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-161-6738{
position: absolute;
left: 100.0px;
 top: 2.0px;
 width: 408.0px;
 height: 18.0px;
font-size: 9.0px; color: rgba(180, 174, 174, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-161-6739{
position:absolute ;width: 258.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 1075px;border-radius: 2.0px;background:''}

.vector-161-6742{
position: relative; width: 18.0px; height: 18.0}

.btn-161-6740{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 230.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(222, 252, 235, 1.0);
 cursor: pointer;

}

.vector-161-6747{
position: relative; width: 18.0px; height: 18.0}

.btn-161-6745{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 184.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 232, 229, 1.0);
 cursor: pointer;

}

.vector-161-6752{
position: relative; width: 18.0px; height: 18.0}

.btn-161-6750{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 138.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-161-6761{
position: relative; width: 18.0px; height: 18.0}

.btn-161-6759{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 92.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-161-6767{
position: relative; width: 18.0px; height: 18.0}

.btn-161-6765{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 46.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-161-6773{
position: relative; width: 18.0px; height: 18.0}

.btn-161-6771{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.group-161-6775{
position:absolute ;width: 195.0px; height: 14.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 66px;background:''}

.vector-161-6776{
position: absolute;left: 0.0px; top: 0.0px; width: 14.0px; height: 14.0}

.text-161-6790{
position: absolute;
left: 30.0px;
 top: 2.0px;
 width: 165.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-161-6791{
position: absolute;left: 514.0px; top: 91.5px; width: 566.0px; height: 1.0}

.group-161-6792{
position:absolute ;width: 260.0px; height: 32.0px;  background-color: rgba(0,0,0,0.0);top:47px; left: 1075px;background:''}

.group-161-6793{
position:absolute ;width: 193.0px; height: 32.0px;  background-color: rgba(250,250,250,1.0);top:0px; left: 31px;border-radius: 2.0px;border-color:rgba(164, 232, 200, 1.0);border-style:solid;background:''}

.vector-161-6794{
position: absolute;left: 0.0px; top: 0.0px; width: 29.0px; height: 27.0}

.text-161-6802{
position: absolute;
left: 39.0px;
 top: 8.0px;
 width: 185.0px;
 height: 17.0px;
font-size: 8.0px; color: rgba(170, 164, 165, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-161-6805{
position: relative; width: 18.0px; height: 18.0}

.btn-161-6803{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 232.0px;
 top: 2.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.text-161-6807{
position: absolute;
left: 1142.0px;
 top: 23.0px;
 width: 70.0px;
 height: 6.0px;
font-size: 9.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-161-6808{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:153px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-161-6809{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-161-6810{
position:absolute ;width: 127.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.vector-161-6811{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.text-161-6816{
position: absolute;
left: 35.0px;
 top: 7.0px;
 width: 92.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-161-6819{
position: relative; width: 18.0px; height: 18.0}

.btn-161-6817{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1337.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.vector-161-6825{
position: relative; width: 18.0px; height: 18.0}

.btn-161-6823{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1298.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.group-161-6827{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:69px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-161-6828{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;background:''}

.text-161-6829{
position: absolute;
left: 25.0px;
 top: 23.0px;
 width: 185.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-161-6830{
position: absolute;
left: 250.0px;
 top: 27.0px;
 width: 393.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-161-6831{
position: absolute;left: 230.0px; top: 15.0px; width: 1.0px; height: 46.0}

.group-161-6832{
position:absolute ;width: 159.0px; height: 36.0px;  background-color: rgba(0,0,0,0.0);top:19px; left: 1232px;border-radius: 2.0px;background:''}

.vector-161-6836{
position: relative; width: 24.0px; height: 24.0}

.btn-161-6833{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 159.0px;
 height: 36.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-161-6838{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-161-6839{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-161-6840{
position: absolute;left: 1370.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-161-6843{
position: absolute;left: 22.0px; top: 24.0px; width: 155.53781127929688px; height: 33.976318359375}

.vector-161-6868{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.vector-161-6869{
position: absolute;left: 1326.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-161-6876{
position: relative; width: 24.0px; height: 24.0}

.btn-161-6873{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 214.0px;
 top: 17.0px;
 width: 207.0px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(237, 237, 237, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}