

.corecreatewhatifanalysis-4-519{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-4-520{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(0,0,0,0.0);top:1407px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-4-521{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;box-shadow: 0.0px -1.0px 5.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.text-4-522{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 241.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-4-523{
position:absolute ;width: 1373.0px; height: 1168.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-4-524{
position:absolute ;width: 1373.0px; height: 1763.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-4-525{
position: absolute;left: 221.0px; top: 74.00003051757812px; width: 1166.0px; height: 1}

.group-4-526{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 221px;background:''}

.group-4-527{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-4-528{
position:absolute ;width: 351.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:13px; left: 20px;background:''}

.group-4-529{
position:absolute ;width: 306.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:2px; left: 809px;background:''}

.vector-4-530{
position: absolute;left: 282.0px; top: 0.0px; width: 24.0px; height: 22.0}

.group-4-534{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-4-535{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-4-536{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-537{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.vector-4-538{
position: absolute;left: 4.0px; top: 4.0px; width: 13.0px; height: 13.0}

.text-4-540{
position: absolute;
left: 24.0px;
 top: 7.0px;
 width: 69.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-4-541{
position: absolute;
left: 238.0px;
 top: 7.0px;
 width: 44.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-4-542{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 164.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-4-543{
position:absolute ;width: 1141.0px; height: 92.0px;  background-color: rgba(0,0,0,0.0);top:86px; left: 221px;background:''}

.group-4-544{
position:absolute ;width: 374.0px; height: 92.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-545{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-4-546{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-4-547{
position:absolute ;width: 337.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-4-548{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 134.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-4-549{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-550{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-551{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-4-552{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-4-553{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-4-554{
position:absolute ;width: 374.0px; height: 92.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 384px;background:''}

.group-4-555{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-4-556{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-4-557{
position:absolute ;width: 337.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-4-558{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 67.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-4-559{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-560{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-561{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-4-562{
position:absolute ;width: 172.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-4-563{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 172.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-4-564{
position:absolute ;width: 374.0px; height: 92.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 767px;background:''}

.group-4-565{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-4-566{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-4-567{
position:absolute ;width: 337.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-4-568{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 150.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-4-569{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-570{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-571{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-4-572{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-4-573{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-4-574{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:210px; left: 221px;background:''}

.group-4-575{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-4-576{
position:absolute ;width: 864.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.vector-4-577{
position: absolute;left: 0.0px; top: 0.0px; width: 196.0px; height: 44.0}

.vector-4-583{
position: absolute;left: 208.0px; top: 0.0px; width: 253.0px; height: 44.0}

.vector-4-589{
position: absolute;left: 473.0px; top: 0.0px; width: 391.0px; height: 44.0}

.group-4-595{
position:absolute ;width: 1142.0px; height: 319.205078125px;  background-color: rgba(0,0,0,0.0);top:286px; left: 222px;background:''}

.group-4-596{
position:absolute ;width: 751.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:235px; left: 0px;background:''}

.group-4-597{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-598{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.vector-4-599{
position: absolute;left: 69.0px; top: 14.17578125px; width: 224.0px; height: 56.031219482421875}

.group-4-618{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 389px;background:''}

.group-4-619{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.vector-4-620{
position: absolute;left: 41.0px; top: 14.204208374023438px; width: 280.0px; height: 55.99891662597656}

.group-4-646{
position:absolute ;width: 1142.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:125px; left: 0px;background:''}

.group-4-647{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 877px;background:''}

.group-4-648{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-4-649{
position:absolute ;width: 99.0px; height: 58.959590911865234px;  background-color: rgba(0,0,0,0.0);top:14px; left: 83px;background:''}

.text-4-650{
position: absolute;
left: 7.0px;
 top: -0.7955055236816406px;
 width: 84.033203125px;
 height: 19.187488555908203px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-4-651{
position:absolute ;width: 99.0px; height: 30.142684936523438px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;background:''}

.text-4-652{
position: absolute;
left: 39.0px;
 top: 7.205076217651367px;
 width: 18.0px;
 height: 14.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-4-653{
position: absolute;left: 0.0px; top: -0.9785175323486328px; width: 30.0px; height: 30.142684936523438}

.vector-4-656{
position: absolute;left: 69.0px; top: -0.9785175323486328px; width: 30.0px; height: 30.142684936523438}

.group-4-659{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-660{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-4-661{
position:absolute ;width: 123.033203125px; height: 62.000728607177734px;  background-color: rgba(0,0,0,0.0);top:13px; left: 71px;background:''}

.text-4-662{
position: absolute;
left: 0.0px;
 top: -0.7957115173339844px;
 width: 123.033203125px;
 height: 19.274547576904297px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-4-663{
position:absolute ;width: 87.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:28px; left: 18px;background:''}

.text-4-664{
position: absolute;
left: 39.0px;
 top: -0.794921875px;
 width: 9.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-4-665{
position: absolute;left: 0.0px; top: 1.021484375px; width: 30.0px; height: 30.142684936523438}

.vector-4-668{
position: absolute;left: 57.0px; top: 1.021484375px; width: 30.0px; height: 30.142684936523438}

.group-4-671{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 292px;background:''}

.group-4-672{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-4-673{
position:absolute ;width: 123.0px; height: 58.957550048828125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.vector-4-674{
position: absolute;left: 0.0px; top: 27.015623092651367px; width: 123.0px; height: 31.147445678710938}

.text-4-683{
position: absolute;
left: 23.0px;
 top: -0.7944793701171875px;
 width: 76.0333251953125px;
 height: 19.16962432861328px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-4-684{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 584px;background:''}

.group-4-685{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-4-686{
position:absolute ;width: 123.0px; height: 58.92869567871094px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.vector-4-687{
position: absolute;left: 0.0px; top: 26.986328125px; width: 123.0px; height: 31.147445678710938}

.text-4-696{
position: absolute;
left: 30.0px;
 top: -0.794921875px;
 width: 63.0333251953125px;
 height: 19.140605926513672px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-4-697{
position:absolute ;width: 1141.0px; height: 44.205078125px;  background-color: rgba(0,0,0,0.0);top:53px; left: 0px;background:''}

.group-4-698{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-4-699{
position:absolute ;width: 402.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 0px;background:''}

.vector-4-700{
position: absolute;left: 0.0px; top: -0.794921875px; width: 153.0px; height: 44.0}

.vector-4-707{
position: absolute;left: 160.0px; top: -0.794921875px; width: 112.0px; height: 44.0}

.vector-4-714{
position: absolute;left: 279.0px; top: -0.794921875px; width: 123.0px; height: 44.0}

.group-4-721{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-4-722{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-4-723{
position:absolute ;width: 265.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-4-724{
position: absolute;left: 0.0px; top: 0.0px; width: 28.0px; height: 28.0}

.text-4-733{
position: absolute;
left: 43.0px;
 top: 6.0px;
 width: 222.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-4-734{
position:absolute ;width: 1141.0px; height: 448.0px;  background-color: rgba(0,0,0,0.0);top:637px; left: 223px;background:''}

.group-4-735{
position:absolute ;width: 837.0px; height: 102.794921875px;  background-color: rgba(0,0,0,0.0);top:164px; left: 0px;background:''}

.group-4-736{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 287px;background:''}

.group-4-737{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-738{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-4-739{
position:absolute ;width: 219.0px; height: 60.000152587890625px;  background-color: rgba(0,0,0,0.0);top:20px; left: 21px;background:''}

.group-4-740{
position:absolute ;width: 219.0px; height: 60.000152587890625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.vector-4-741{
position: absolute;left: 0.0px; top: 29.999847412109375px; width: 219.0px; height: 31.0}

.text-4-758{
position: absolute;
left: 39.0px;
 top: 0.99969482421875px;
 width: 141.0260009765625px;
 height: 15.3966064453125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-4-759{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-760{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-761{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-4-762{
position:absolute ;width: 219.0px; height: 60.000152587890625px;  background-color: rgba(0,0,0,0.0);top:21px; left: 21px;background:''}

.group-4-763{
position:absolute ;width: 219.0px; height: 60.000152587890625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.vector-4-764{
position: absolute;left: 0.0px; top: 29.794769287109375px; width: 219.0px; height: 31.0}

.text-4-781{
position: absolute;
left: 39.0px;
 top: 0.79461669921875px;
 width: 141.0260009765625px;
 height: 15.3966064453125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-4-782{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 576px;background:''}

.group-4-783{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.vector-4-784{
position: absolute;left: 27.0px; top: 35.0px; width: 207.0px; height: 30.0}

.group-4-788{
position:absolute ;width: 1141.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:53px; left: 0px;background:''}

.group-4-789{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-790{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-4-791{
position:absolute ;width: 280.0px; height: 56.10255432128906px;  background-color: rgba(0,0,0,0.0);top:13px; left: 41px;background:''}

.text-4-792{
position: absolute;
left: 55.0px;
 top: 0.9991912841796875px;
 width: 169.0330810546875px;
 height: 19.377243041992188px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-4-793{
position: absolute;left: 0.0px; top: 24.1015625px; width: 280.0px; height: 33.0}

.group-4-817{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 390px;background:''}

.group-4-818{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-4-819{
position:absolute ;width: 224.0px; height: 56.115509033203125px;  background-color: rgba(0,0,0,0.0);top:13px; left: 69px;background:''}

.text-4-820{
position: absolute;
left: 25.0px;
 top: 0.999725341796875px;
 width: 173.0330810546875px;
 height: 19.386154174804688px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-4-821{
position: absolute;left: 0.0px; top: 24.115234375px; width: 224.0px; height: 33.0}

.group-4-838{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 779px;background:''}

.group-4-839{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-4-840{
position:absolute ;width: 224.0px; height: 56.00274658203125px;  background-color: rgba(0,0,0,0.0);top:13px; left: 69px;background:''}

.text-4-841{
position: absolute;
left: 50.0px;
 top: 0.99920654296875px;
 width: 123.033203125px;
 height: 19.274551391601562px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-4-842{
position: absolute;left: 0.0px; top: 24.001953125px; width: 224.0px; height: 33.0}

.group-4-859{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-4-860{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-4-861{
position:absolute ;width: 287.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-4-862{
position: absolute;left: 0.0px; top: 0.0px; width: 28.0px; height: 28.0}

.text-4-871{
position: absolute;
left: 43.0px;
 top: 6.0px;
 width: 244.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-4-872{
position:absolute ;width: 175.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:408px; left: 964px;border-radius: 2.0px;background:''}

.vector-4-873{
position: absolute;left: 95.0px; top: 0.0px; width: 80.0px; height: 40.0}

.vector-4-876{
position: absolute;left: 0.0px; top: 0.0px; width: 81.0px; height: 40.0}

.group-4-879{
position:absolute ;width: 374.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:940px; left: 223px;background:''}

.group-4-880{
position:absolute ;width: 374.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.vector-4-1000{
position: absolute;left: 336.0px; top: 50.0px; width: 13.0px; height: 6.47076416015625}

.group-4-882{
position:absolute ;width: 280.0px; height: 64.1015625px;  background-color: rgba(0,0,0,0.0);top:6px; left: 41px;background:''}

.vector-4-883{
position: absolute;left: 0.0px; top: 31.1015625px; width: 280.0px; height: 33.0}

.group-4-907{
position:absolute ;width: 230.9932861328125px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-4-908{
position: absolute;
left: 0.0px;
 top: 7.551300048828125px;
 width: 201.017333984375px;
 height: 8.44866943359375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-4-998{
position: absolute;left: 206.9932861328125px; top: 0.0px; width: 24.0px; height: 24.0}

.group-4-910{
position:absolute ;width: 1373.0px; height: 894.0px;  background-color: rgba(0,0,0,0.0);top:153px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.vector-4-911{
position: absolute;left: 0.0px; top: 49.0px; width: 217.248779296875px; height: 845.0}

.group-4-941{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-4-942{
position:absolute ;width: 271.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.text-4-943{
position: absolute;
left: 35.0px;
 top: 7.0px;
 width: 236.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-4-944{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.group-4-949{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:69px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-4-950{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;background:''}

.text-4-951{
position: absolute;
left: 25.0px;
 top: 25.0px;
 width: 344.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-4-952{
position: absolute;
left: 409.0px;
 top: 31.0px;
 width: 288.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-4-953{
position: absolute;left: 389.0px; top: 16.0px; width: 1.0px; height: 46.0}

.group-4-954{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-4-955{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-4-956{
position: absolute;left: 1370.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-4-959{
position: absolute;left: 22.0px; top: 24.0px; width: 155.537841796875px; height: 33.9761962890625}

.vector-4-984{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.vector-4-985{
position: absolute;left: 1326.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-4-989{
position: absolute;left: 214.0px; top: 17.0px; width: 208.0px; height: 42.0}