<div class="corecreatewhatifanalysis-4-519" name="Core@create what if Analysis">
 <div class="group-4-520" name="Group">
  <div class="group-4-521" name="Group">
  </div>
  <label class="text-4-522" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-4-523" name="Group">
  <div class="group-4-524" name="Group">
  </div>
  <img class="vector-4-525" src="assets/images/Core/create-what-if-analysis/vector-4_525.svg"/>
  <div class="group-4-526" name="Group">
   <div class="group-4-527" name="Group">
   </div>
   <div class="group-4-528" name="Group">
    <div class="group-4-529" name="Group">
     <img class="vector-4-530" src="assets/images/Core/create-what-if-analysis/vector-4_530.svg"/>
     <div class="group-4-534" name="Group">
      <label class="text-4-535" type="text" value="921409198-87861">
       921409198-87861
      </label>
      <div class="group-4-536" name="Group">
       <div class="group-4-537" name="Group">
       </div>
       <img class="vector-4-538" src="assets/images/Core/create-what-if-analysis/vector-4_538.svg"/>
       <label class="text-4-540" type="text" value="Base Line ID">
        Base Line ID
       </label>
      </div>
     </div>
     <label class="text-4-541" type="text" value="Private">
      Private
     </label>
    </div>
    <label class="text-4-542" type="text" value="Base Line Name ABCD">
     Base Line Name ABCD
    </label>
   </div>
  </div>
  <div class="group-4-543" name="Group">
   <div class="group-4-544" name="Group">
    <div class="group-4-545" name="Group">
     <div class="group-4-546" name="Group">
     </div>
     <div class="group-4-547" name="Group">
      <label class="text-4-548" type="text" value="OPERATING room">
       OPERATING room
      </label>
     </div>
    </div>
    <div class="group-4-549" name="Group">
     <div class="group-4-550" name="Group">
      <div class="group-4-551" name="Group">
      </div>
      <div class="group-4-552" name="Group">
       <label class="text-4-553" type="text" value="Department type">
        Department type
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-4-554" name="Group">
    <div class="group-4-555" name="Group">
     <div class="group-4-556" name="Group">
     </div>
     <div class="group-4-557" name="Group">
      <label class="text-4-558" type="text" value="Site2_OR">
       Site2_OR
      </label>
     </div>
    </div>
    <div class="group-4-559" name="Group">
     <div class="group-4-560" name="Group">
      <div class="group-4-561" name="Group">
      </div>
      <div class="group-4-562" name="Group">
       <label class="text-4-563" type="text" value="Department group">
        Department group
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-4-564" name="Group">
    <div class="group-4-565" name="Group">
     <div class="group-4-566" name="Group">
     </div>
     <div class="group-4-567" name="Group">
      <label class="text-4-568" type="text" value="Registered Nurses">
       Registered Nurses
      </label>
     </div>
    </div>
    <div class="group-4-569" name="Group">
     <div class="group-4-570" name="Group">
      <div class="group-4-571" name="Group">
      </div>
      <div class="group-4-572" name="Group">
       <label class="text-4-573" type="text" value="Resource Group">
        Resource Group
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="group-4-574" name="Group">
   <div class="group-4-575" name="Group">
   </div>
   <div class="group-4-576" name="Group">
    <img class="vector-4-577" src="assets/images/Core/create-what-if-analysis/vector-4_577.svg"/>
    <img class="vector-4-583" src="assets/images/Core/create-what-if-analysis/vector-4_583.svg"/>
    <img class="vector-4-589" src="assets/images/Core/create-what-if-analysis/vector-4_589.svg"/>
   </div>
  </div>
  <div class="group-4-595" name="Group">
   <div class="group-4-596" name="Group">
    <div class="group-4-597" name="Group">
     <div class="group-4-598" name="Group">
     </div>
     <img class="vector-4-599" src="assets/images/Core/create-what-if-analysis/vector-4_599.svg"/>
    </div>
    <div class="group-4-618" name="Group">
     <div class="group-4-619" name="Group">
     </div>
     <img class="vector-4-620" src="assets/images/Core/create-what-if-analysis/vector-4_620.svg"/>
    </div>
   </div>
   <div class="group-4-646" name="Group">
    <div class="group-4-647" name="Group">
     <div class="group-4-648" name="Group">
     </div>
     <div class="group-4-649" name="Group">
      <label class="text-4-650" type="text" value="ratio scale">
       ratio scale
      </label>
      <div class="group-4-651" name="Group">
       <label class="text-4-652" type="text" value="1.0">
        1.0
       </label>
       <img class="vector-4-653" src="assets/images/Core/create-what-if-analysis/vector-4_653.svg"/>
       <img class="vector-4-656" src="assets/images/Core/create-what-if-analysis/vector-4_656.svg"/>
      </div>
     </div>
    </div>
    <div class="group-4-659" name="Group">
     <div class="group-4-660" name="Group">
     </div>
     <div class="group-4-661" name="Group">
      <label class="text-4-662" type="text" value="Number of Weeks">
       Number of Weeks
      </label>
      <div class="group-4-663" name="Group">
       <label class="text-4-664" type="text" value="3">
        3
       </label>
       <img class="vector-4-665" src="assets/images/Core/create-what-if-analysis/vector-4_665.svg"/>
       <img class="vector-4-668" src="assets/images/Core/create-what-if-analysis/vector-4_668.svg"/>
      </div>
     </div>
    </div>
    <div class="group-4-671" name="Group">
     <div class="group-4-672" name="Group">
     </div>
     <div class="group-4-673" name="Group">
      <img class="vector-4-674" src="assets/images/Core/create-what-if-analysis/vector-4_674.svg"/>
      <label class="text-4-683" type="text" value="start date">
       start date
      </label>
     </div>
    </div>
    <div class="group-4-684" name="Group">
     <div class="group-4-685" name="Group">
     </div>
     <div class="group-4-686" name="Group">
      <img class="vector-4-687" src="assets/images/Core/create-what-if-analysis/vector-4_687.svg"/>
      <label class="text-4-696" type="text" value="end date">
       end date
      </label>
     </div>
    </div>
   </div>
   <div class="group-4-697" name="Group">
    <div class="group-4-698" name="Group">
    </div>
    <div class="group-4-699" name="Group">
     <img class="vector-4-700" src="assets/images/Core/create-what-if-analysis/vector-4_700.svg"/>
     <img class="vector-4-707" src="assets/images/Core/create-what-if-analysis/vector-4_707.svg"/>
     <img class="vector-4-714" src="assets/images/Core/create-what-if-analysis/vector-4_714.svg"/>
    </div>
   </div>
   <div class="group-4-721" name="Group">
    <div class="group-4-722" name="Group">
    </div>
    <div class="group-4-723" name="Group">
     <img class="vector-4-724" src="assets/images/Core/create-what-if-analysis/vector-4_724.svg"/>
     <label class="text-4-733" type="text" value="Shift Distribution Types">
      Shift Distribution Types
     </label>
    </div>
   </div>
  </div>
  <div class="group-4-734" name="Group">
   <div class="group-4-735" name="Group">
    <div class="group-4-736" name="Group">
     <div class="group-4-737" name="Group">
      <div class="group-4-738" name="Group">
      </div>
      <div class="group-4-739" name="Group">
       <div class="group-4-740" name="Group">
        <img class="vector-4-741" src="assets/images/Core/create-what-if-analysis/vector-4_741.svg"/>
        <label class="text-4-758" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-4-759" name="Group">
     <div class="group-4-760" name="Group">
      <div class="group-4-761" name="Group">
      </div>
      <div class="group-4-762" name="Group">
       <div class="group-4-763" name="Group">
        <img class="vector-4-764" src="assets/images/Core/create-what-if-analysis/vector-4_764.svg"/>
        <label class="text-4-781" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-4-782" name="Group">
     <div class="group-4-783" name="Group">
     </div>
     <button class="btn-4-784" type="button">
      <img class="vector-4-787" src="assets/images/Core/create-what-if-analysis/vector-4_787.svg"/>
     </button>
    </div>
   </div>
   <div class="group-4-788" name="Group">
    <div class="group-4-789" name="Group">
     <div class="group-4-790" name="Group">
     </div>
     <div class="group-4-791" name="Group">
      <label class="text-4-792" type="text" value="Minimum Shift Duration">
       Minimum Shift Duration
      </label>
      <img class="vector-4-793" src="assets/images/Core/create-what-if-analysis/vector-4_793.svg"/>
     </div>
    </div>
    <div class="group-4-817" name="Group">
     <div class="group-4-818" name="Group">
     </div>
     <div class="group-4-819" name="Group">
      <label class="text-4-820" type="text" value="Maximum Shift Duration">
       Maximum Shift Duration
      </label>
      <img class="vector-4-821" src="assets/images/Core/create-what-if-analysis/vector-4_821.svg"/>
     </div>
    </div>
    <div class="group-4-838" name="Group">
     <div class="group-4-839" name="Group">
     </div>
     <div class="group-4-840" name="Group">
      <label class="text-4-841" type="text" value="latest Start Time">
       latest Start Time
      </label>
      <img class="vector-4-842" src="assets/images/Core/create-what-if-analysis/vector-4_842.svg"/>
     </div>
    </div>
   </div>
   <div class="group-4-859" name="Group">
    <div class="group-4-860" name="Group">
    </div>
    <div class="group-4-861" name="Group">
     <img class="vector-4-862" src="assets/images/Core/create-what-if-analysis/vector-4_862.svg"/>
     <label class="text-4-871" type="text" value="Pre- Determined Variables">
      Pre- Determined Variables
     </label>
    </div>
   </div>
   <div class="group-4-872" name="Group">
    <img class="vector-4-873" src="assets/images/Core/create-what-if-analysis/vector-4_873.svg"/>
    <img class="vector-4-876" src="assets/images/Core/create-what-if-analysis/vector-4_876.svg"/>
   </div>
  </div>
  <div class="group-4-879" name="Group">
   <div class="group-4-880" name="Group">
   </div>
   <img class="vector-4-1000" src="assets/images/Core/create-what-if-analysis/vector-4_1000.svg"/>
   <div class="group-4-882" name="Group">
    <img class="vector-4-883" src="assets/images/Core/create-what-if-analysis/vector-4_883.svg"/>
    <div class="group-4-907" name="Group">
     <label class="text-4-908" type="text" value="Non-Traditional Resources">
      Non-Traditional Resources
     </label>
     <img class="vector-4-998" src="assets/images/Core/create-what-if-analysis/vector-4_998.svg"/>
    </div>
   </div>
  </div>
 </div>
 <div class="group-4-910" name="Group">
  <img class="vector-4-911" src="assets/images/Core/create-what-if-analysis/vector-4_911.svg"/>
  <div class="group-4-941" name="Group">
  </div>
  <div class="group-4-942" name="Group">
   <label class="text-4-943" type="text" value="select any Distribution Type ">
    select any Distribution Type
   </label>
   <img class="vector-4-944" src="assets/images/Core/create-what-if-analysis/vector-4_944.svg"/>
  </div>
 </div>
 <div class="group-4-949" name="Group">
  <div class="group-4-950" name="Group">
  </div>
  <label class="text-4-951" type="text" value="create What-if Analysis">
   create What-if Analysis
  </label>
  <label class="text-4-952" type="text" value="Steps to create a new What-if Analysis">
   Steps to create a new What-if Analysis
  </label>
  <img class="vector-4-953" src="assets/images/Core/create-what-if-analysis/vector-4_953.svg"/>
 </div>
 <div class="group-4-954" name="Group">
  <div class="group-4-955" name="Group">
  </div>
  <img class="vector-4-956" src="assets/images/Core/create-what-if-analysis/vector-4_956.svg"/>
  <img class="vector-4-959" src="assets/images/Core/create-what-if-analysis/vector-4_959.svg"/>
  <img class="vector-4-984" src="assets/images/Core/create-what-if-analysis/vector-4_984.svg"/>
  <img class="vector-4-985" src="assets/images/Core/create-what-if-analysis/vector-4_985.svg"/>
  <img class="vector-4-989" src="assets/images/Core/create-what-if-analysis/vector-4_989.svg"/>
 </div>
</div>
